/*******************************
             Global
*******************************/

/* Regular */

@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/Lato-Regular.woff2) format('woff2')
  ;
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/Lato-Italic.woff2) format('woff2')
  ;
  font-style: italic;
  font-weight: normal;
}

/* Bold */
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/Lato-Bold.woff2) format('woff2')
  ;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Lato';
  src:
    url(/fonts/Lato-BoldItalic.woff2) format('woff2')
  ;
  font-style: italic;
  font-weight: 700;
}

/*--------------
     Page
---------------*/

item > .b {
	font-family : 'Lato';
	font-size : 15px
}

.main_menu {
	height : 600px;
	background-image : url("../images/start_menu.jpg");
}

.main_menu > h1, h2 {
	padding : 1rem;
	font-family : 'Lato';
	text-align : center;
}

.main_menu > h1 {
	color : green;
}

.main_menu > h2 {
	color : white;
}


.pusher {
  display: block;
  min-height: 30px;
  flex-direction: column;
}